<!-- Bar -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/image/">All Images</a></li>
    </ol>
</div>
<!-- //Bar -->
<!-- gallery -->
    <div class="photowallgallery">
        <div class="container">
            <div class="photowallgallery-heading">
                <h2>image Gallery</h2>
                <p>The most featured images in our website!</p>
            </div>
            {{#if imageList.length}}
            <ul>
                {{#each imageList}}

                <div class="photowallgallery-grids">
                    <div class="col-md-4 photowallgallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                        <div class="photowallgrid">
                            <figure class="effect-apollo">
                                <a class="example-image-link" href="../..{{this.path}}" data-lightbox="example-set" data-title="">
                                    <img src="../..{{this.path}}" alt="" >
                                    <figcaption>
                                        <h3>{{this.name}}</h3>
                                        <p>{{this.name}}, {{this.address}}, China</p>
                                    </figcaption>	
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                {{/each}}
            </ul>
            {{/if}}
            <div class="clearfix"> </div>
            <script src="../../public/js/lightbox-plus-jquery.min.js"> </script>
        </div>
    </div>
</div>
<!-- //gallery -->
















