<div class="zhuce_body">
    <div class="zhuce_kong">
        <div class="zc">
            <div class="bj">
                <h3>User Information</h3>
                <table class="userInformation">
                    <tr>
                        <td>username: </td>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>nickName: </td>
                        <td>{{user.nickName}}</td>
                    </tr>
                    <tr>
                        <td>gender: </td>
                        <td>{{user.gender}}</td>
                    </tr>
                    <tr>
                        <td>dob: </td>
                        <td>{{user.dob}}</td>
                    </tr>
                    <tr>
                        <td>description: </td>
                        <td>{{user.description}}</td>
                    </tr>
                    <tr>
                        <td>description: </td>
                        <td>{{user.description}}</td>
                    </tr>
                    <tr>
                        <td>phone: </td>
                        <td>{{user.phone}}</td>
                    </tr>
                    <tr>
                        <td>email: </td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>image: </td>
                        <td>{{user.image}}</td>
                    </tr>
                    <tr>
                        <td>lastLoginTime: </td>
                        <td>{{user.lastLoginTime}}</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

</div>
