<!-- Bar -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">All Blogs</a></li>
        <li><a href="/blog/new">Create New Blog</a></li>
    </ol>
</div>
<!-- blog -->
<div class="blog">
    <!-- container -->
    <div class="container">
        <div class="blog-heading">
            <h2 class="wow fadeInDown animated" data-wow-delay=".5s">Blog</h2>
            <p class="wow fadeInUp animated" data-wow-delay=".5s">Vivamus efficitur scelerisque nulla nec lobortis. Nullam ornare metus vel dolor feugiat maximus.Aenean nec nunc et metus volutpat dapibus ac vitae ipsum. Pellentesque sed rhoncus nibh</p>
        </div>
        <div class="blog-top-grids">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 blog-top-left-grid">
                <div class="left-blog">
                    {{#each blogList }}
                    <div class="blog-left">
                        {{#if imagePath}}
                        <div class="blog-left-left wow fadeInUp animated" data-wow-delay=".5s">
                            <a href="/blog/id/{{_id}}"><img src="../..{{imagePath}}" alt="blog main Image" /></a>
                        </div>
                        {{/if}}
                        <div class="blog-left-right wow fadeInUp animated" data-wow-delay=".5s">
                            <a href="/blog/id/{{_id}}">{{title}} </a>
                            <p>{{content}}</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //blog -->
	

