<div id="singleNote">
	<h2 id="noteTitle">blog info</h2>
	<ul>
		<li>title: {{{blog.title}}}</li>
		<li>content: {{{blog.content}}}</li>
		<li>createTime: {{{blog.createTime}}}</li>
		<li>conclusions: {{{blog.conclusions}}}</li>
		<li>conclusions: {{{blog.conclusions}}}</li>
		<li>tag: {{{blog.tag}}}</li>
	</ul>
</div>
